// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
text-align: center;
top: 30%;
width: 100%;
position: absolute;
//background-color: #333;
line-height: 1em;

	#greeting {
		color: #01b0f0;
		font-size: 2em
		
	}

	#clock {
		font-family: impact;
		font-size: 6em;
		color: #aeee00

	}
}
	#quote {
		position: absolute;
		width: 100%;
		bottom: 2em;
		text-align: center;
		font-size:1.5em;
		color: white;
		font-family: cursive;
		text-shadow: 4px 4px 0 #000;
	

		&:before {
		content: open-quote;
		// font-size: 0.7em;
		}

		&:after{
			content: close-quote;
			// font-size: 0.7em;
		}
	}

