<div id="footer">
<!--<i class="fa fa-github-square"></i> -->
&copy; <%=Time.now.year%> 

<a href="http://github.com/mykia/tts_rails/tree/master/splash_home" target = "_blank" >
	<%= fa_icon  "github-square", text: "Source Code"%>
</a>
<div class="home">
			<%= link_to (fa_icon "home", text: "Go Home"), home_index_path %>
		</div>
</div>


<!--// <script language="javascript" type="text/javascript">
// var today = new Date()
// var year = today.getFullYear()
// document.write(year)
// </script> --!>