
<div id="main" class="shadowed">

	<h1 id="clock" class="shadowed"><%= @current_time %></h1>
	<h2 id="greeting" class="shadowed"><em><%= @greet_message %></em></h2>
	<p class="shadowed"><i class="fa fa-heart"></i></p>

	 <!-- id="welcome" >Welcome to the wonderful world of SplashHome! -->
	<!-- <p>Find me in app/views/home/index.html.erb</p> -->

</div>

<div id="quote" class="shadowed">
	 <%= @quote %> 
</div>