
<div id="main">

	<h1 id="clock"><%= @current_time %></h1>
	<h2 id="greeting"><em><%= @greet_message %></em></h2>

	<h3>Welcome to the wonderful world of SplashHome!</h3>
	<!-- <p>Find me in app/views/home/index.html.erb</p> -->

</div>