
<div id="main">

	<h1 id="clock" class="shadowed"><%= @current_time %></h1>
	<h2 id="greeting" class="shadowed"><em><%= @greet_message %></em></h2>
	<p><i class="fa fa-heart"></i></p>

	<h3 id="welcome" class="shadowed">Welcome to the wonderful world of SplashHome!</h3>
	<!-- <p>Find me in app/views/home/index.html.erb</p> -->

</div>